<a href="https://colab.research.google.com/github/BiyiMatPerl/Bioinformatics/blob/master/data_to_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data to matrix/Original1.1 - Sheet1.csv')

In [ ]:
df.head(20)

    Energy_change Amino Acid Original
0       -0.140748          A       M1
1       -0.108424          C       M1
2       -0.463787          D       M1
3       -0.349316          E       M1
4        0.186751          F       M1
5       -0.099139          G       M1
6        0.061404          H       M1
7        0.214730          I       M1
8       -0.092756          K       M1
9        0.105840          L       M1
10       0.000000          M       M1
11      -0.039373          N       M1
12       0.150043          P       M1
13      -0.055601          Q       M1
14      -0.147969          R       M1
15      -0.122504          S       M1
16      -0.034990          T       M1
17       0.093686          V       M1
18      -0.131201          W       M1
19       0.144155          Y       M1

In [ ]:
#df.Amino_acid_base.apply(lambda x : x[:-1])//

```
df.Mutation.apply(lambda x : x[:-1])**bold text**

In [ ]:

#String1 = "M1A"

#Amino = String1[:-1]
#Mut = String1[-1]
#print(Amino)
#print(Mut)

In [ ]:
df["Amino Acid"].head(40)

0     A
1     C
2     D
3     E
4     F
5     G
6     H
7     I
8     K
9     L
10    M
11    N
12    P
13    Q
14    R
15    S
16    T
17    V
18    W
19    Y
20    A
21    C
22    D
23    E
24    F
25    G
26    H
27    I
28    K
29    L
30    M
31    N
32    P
33    Q
34    R
35    S
36    T
37    V
38    W
39    Y
Name: Amino Acid, dtype: object

i

In [ ]:
#data.to_csv('matrix_data.csv')

In [ ]:
#data.to_csv('/content/drive/MyDrive/Colab Notebooks/data to matrix/matrix_data.csv')

In [ ]:
df.tail(20)

       Energy_change Amino Acid Original
15940       0.600343          A     R798
15941       0.433985          C     R798
15942       0.975799          D     R798
15943       0.888708          E     R798
15944       0.298786          F     R798
15945       0.410771          G     R798
15946       0.486090          H     R798
15947       0.883494          I     R798
15948       0.539885          K     R798
15949       0.810607          L     R798
15950       0.553084          M     R798
15951       0.583658          N     R798
15952       1.199140          P     R798
15953       0.231947          Q     R798
15954       0.000000          R     R798
15955       0.147179          S     R798
15956       0.226365          T     R798
15957       1.039700          V     R798
15958       0.384012          W     R798
15959       0.364363          Y     R798

In [ ]:
df

       Energy_change Amino Acid Original
0          -0.140748          A       M1
1          -0.108424          C       M1
2          -0.463787          D       M1
3          -0.349316          E       M1
4           0.186751          F       M1
...              ...        ...      ...
15955       0.147179          S     R798
15956       0.226365          T     R798
15957       1.039700          V     R798
15958       0.384012          W     R798
15959       0.364363          Y     R798

[15960 rows x 3 columns]

In [ ]:
df.sort_values(by= 'Amino Acid')

       Energy_change Amino Acid Original
0          -0.140748          A       M1
1160       -0.247863          A      S59
15900      -0.431095          A     L796
8220        0.210628          A     N412
8240       -1.170730          A     K413
...              ...        ...      ...
10059      -0.054343          Y     S503
10039      -0.395100          Y     N502
10019      -0.140153          Y     I501
10199      -0.219125          Y     L510
15959       0.364363          Y     R798

[15960 rows x 3 columns]

In [ ]:
amino_acids = list(df['Amino Acid'].unique())
originals = list(df['Original'].unique())

In [ ]:

df1 = 0

In [ ]:
df1 = pd.DataFrame()

In [ ]:
 #for a in amino_acids:
 #  o = df[df['Amino Acid'] == a].sort_values(by = 'Original')
 #  df1[a] = o['Energy_change']

In [ ]:
A =  df[df['Amino Acid'] == 'A'].sort_values(by = 'Original')
C = df[df['Amino Acid'] == 'C'].sort_values(by = 'Original')

In [ ]:
df

       Energy_change Amino Acid Original
0          -0.140748          A       M1
1          -0.108424          C       M1
2          -0.463787          D       M1
3          -0.349316          E       M1
4           0.186751          F       M1
...              ...        ...      ...
15955       0.147179          S     R798
15956       0.226365          T     R798
15957       1.039700          V     R798
15958       0.384012          W     R798
15959       0.364363          Y     R798

[15960 rows x 3 columns]

In [ ]:
data = df.pivot(columns = "Amino Acid", index = ['Original'])

In [ ]:
data

           Energy_change                                                    \
Amino Acid             A         C         D         E         F         G
Original
A111            0.000000  0.210897  0.444942  0.407775 -0.318918  0.186004
A123            0.000000 -0.187459 -1.447300 -0.025798 -0.393311 -2.298570
A138            0.000000 -0.089292  0.075142  0.060757 -0.684088  0.044253
A150            0.000000 -0.234279  0.125531  0.038013  0.018790  0.336741
A152            0.000000  0.406247  0.016347  0.411488  0.256191  0.426464
...                  ...       ...       ...       ...       ...       ...
Y724            0.887006  0.931145  0.728628  0.482540  0.160320  0.273892
Y736            0.128014  0.813302  1.083460  0.429738  0.068328  0.679689
Y749            0.177279  0.491926  1.270490  0.218809 -0.327854  0.810046
Y761            0.441757  1.629100  0.411336  0.236120 -0.131036  1.737430
Y780            1.193470  1.013590  1.316650  0.637978  0.501496  1.654470

                                                                        \
Amino Acid         H         I         K         L         M         N
Original
A111        0.256355  0.829089 -0.544942 -0.133380 -0.301081 -0.753631
A123       -1.753560  2.100160 -0.844394 -0.194879 -0.304553 -0.126369
A138       -0.139653 -0.346483 -0.290594 -0.292103 -0.380724 -0.187080
A150        0.326949 -0.088134 -0.312581 -0.439666 -0.748981 -0.136283
A152        0.347125  0.553455 -0.010286  0.102050  0.265547  0.025256
...              ...       ...       ...       ...       ...       ...
Y724        0.579852  1.125180  0.048392  0.036765  0.224613  0.179379
Y736        0.507045  0.446679 -0.853275 -0.081278 -0.141336  0.686051
Y749        0.926435 -0.097006 -0.180862  0.145380 -0.785046  0.857188
Y761        0.290652  1.096810 -0.094530 -0.010283  0.936665  0.058161
Y780        1.284790  1.285860  0.419671  0.016615 -0.083851  1.290400

                                                                        \
Amino Acid         P         Q         R         S         T         V
Original
A111        1.479440 -0.493040 -0.611800 -0.188917  0.111418  0.965370
A123        5.760730 -0.222239 -0.956605  0.022655  1.817110  1.772090
A138        0.588606 -0.031704 -0.329987  0.166884 -0.135627 -0.009891
A150        3.004070 -0.531879  0.052240 -0.348876 -0.002073  0.560046
A152       -0.616825  0.451111 -0.520653  0.471864  0.598783  0.694113
...              ...       ...       ...       ...       ...       ...
Y724        1.537070  0.098640 -0.203872  1.048580  1.467810  1.510380
Y736       -0.605928 -0.225500 -0.474274 -0.161095  0.964384  0.689408
Y749        2.873560  0.222056  0.155419  0.502854 -0.662039  0.207721
Y761        1.568790  0.502496  1.447260  2.027710  2.323970  1.505140
Y780        0.800707  0.850595  0.749878  1.255320  1.766680  1.550940


Amino Acid         W         Y
Original
A111        0.039138 -0.326677
A123       -0.203981 -0.333905
A138       -0.481762 -0.556458
A150        0.104355  0.032559
A152        0.024761 -0.143317
...              ...       ...
Y724        0.586347  0.000000
Y736        0.550808  0.000000
Y749        0.794298  0.000000
Y761        0.189465  0.000000
Y780       -0.008176  0.000000

[798 rows x 20 columns]

In [ ]:
data['Energy_change']

Amino Acid,A,C,D,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
Original,,,,,,,,,,,,,,,,,,,,
A111,0.000000,0.210897,0.444942,0.407775,-0.318918,0.186004,0.256355,0.829089,-0.544942,-0.133380,-0.301081,-0.753631,1.479440,-0.493040,-0.611800,-0.188917,0.111418,0.965370,0.039138,-0.326677
A123,0.000000,-0.187459,-1.447300,-0.025798,-0.393311,-2.298570,-1.753560,2.100160,-0.844394,-0.194879,-0.304553,-0.126369,5.760730,-0.222239,-0.956605,0.022655,1.817110,1.772090,-0.203981,-0.333905
A138,0.000000,-0.089292,0.075142,0.060757,-0.684088,0.044253,-0.139653,-0.346483,-0.290594,-0.292103,-0.380724,-0.187080,0.588606,-0.031704,-0.329987,0.166884,-0.135627,-0.009891,-0.481762,-0.556458
A150,0.000000,-0.234279,0.125531,0.038013,0.018790,0.336741,0.326949,-0.088134,-0.312581,-0.439666,-0.748981,-0.136283,3.004070,-0.531879,0.052240,-0.348876,-0.002073,0.560046,0.104355,0.032559
A152,0.000000,0.406247,0.016347,0.411488,0.256191,0.426464,0.347125,0.553455,-0.010286,0.102050,0.265547,0.025256,-0.616825,0.451111,-0.520653,0.471864,0.598783,0.694113,0.024761,-0.143317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Y724,0.887006,0.931145,0.728628,0.482540,0.160320,0.273892,0.579852,1.125180,0.048392,0.036765,0.224613,0.179379,1.537070,0.098640,-0.203872,1.048580,1.467810,1.510380,0.586347,0.000000
Y736,0.128014,0.813302,1.083460,0.429738,0.068328,0.679689,0.507045,0.446679,-0.853275,-0.081278,-0.141336,0.686051,-0.605928,-0.225500,-0.474274,-0.161095,0.964384,0.689408,0.550808,0.000000
Y749,0.177279,0.491926,1.270490,0.218809,-0.327854,0.810046,0.926435,-0.097006,-0.180862,0.145380,-0.785046,0.857188,2.873560,0.222056,0.155419,0.502854,-0.662039,0.207721,0.794298,0.000000
Y761,0.441757,1.629100,0.411336,0.236120,-0.131036,1.737430,0.290652,1.096810,-0.094530,-0.010283,0.936665,0.058161,1.568790,0.502496,1.447260,2.027710,2.323970,1.505140,0.189465,0.000000
Y780,1.193470,1.013590,1.316650,0.637978,0.501496,1.654470,1.284790,1.285860,0.419671,0.016615,-0.083851,1.290400,0.800707,0.850595,0.749878,1.255320,1.766680,1.550940,-0.008176,0.000000

In [ ]:
data['Energy_change'].to_csv("Final_data_output.csv")